h1{
    color: rgb(0, 0, 0);
    background-color: rgb(115, 228, 228);
}

p{
    color: rgb(0, 0, 0);
    background-color: rgb(115, 228, 228);
}

#hello{
    color: blueviolet;
    background-color: chocolate;
}

.warnasatu{
    color: brown;
    background-color: cornflowerblue;


}

.warnadua{
     color: chartreuse;
     background-color: black;


}


.warnatiga{

      color: chocolate;
      background-color: crimson;


}

#kotak-satu{
    height: 100px;
    width: 1000px;
background-color: rgb(236, 91, 212);

}

#kotak-dua{
    height: 100px;
    width: 1000px;
    background-color: aqua;
}


#kotak-dua{
    height: 100px;
    width: 10000px;
    background-color: rgb(115, 255, 0);
}



#kotak-tiga{
    height: 100px;
    width: 100000px;
    background-color: rgb(255, 38, 0);
}

#bikibg{
    width: 500px;
    height: 200px;
    background-color: rgb(238, 37, 228);
    color:rgb(255, 255, 255);
    background-image: url("../CSS/img/harimau.webp");
    background-size: 100%;
    border-radius: 10px;


}   

#bikibg h2{
    text-align: center;
    padding-top:80px;
}

#bikinpattern{
    width: 500px;
    height: 200px;
    background-color: rgb(238, 37, 228);
    color:rgb(255, 255, 255);
    background-image: url("..//CSS/img/pattern100.png");
    background-size: 100px;
    border-radius: 10px;
    background-repeat: no-repeat;



}

#bikinpattern h2{
    
    text-align: center;
    padding-top:80px;




}













